* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background: #eaff48;
  padding: 0 1.5rem;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  list-style: none;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
}

.main-header__item-list a {
  text-decoration: none;
  color: white;
}

.main-header__item-list a:hover {
  color: #2aadff;
}
.main-header__item-list a:active {
  color: #45ff4e;
}
.main-header__item-list a.active {
  color: red;
}
